
.body{
    background-color: rgb(248, 252, 255);
}

.nav{
	padding: 0;
	background-color: white;
	width: 100%;
}
.navbar {
	background-color: #4aaaa5;
    color: white;
	padding: 10px;
	margin-left: 10px;
	font-weight: bolder;
}
#header{
    color:#4aaaa5;
    font-weight: bold;
    font-size: 3vw;

}
#data_text{
    color:#4aaaa5;
}
.table{
    size: 10vw;
}
.index-image-left {
    max-height: 200px;
    min-height: 100px;
    min-width: 150px;
    margin: 5px;
    float: left;
    margin-left: 10px;
}
.index-image {
    max-height: 250px;
    min-height: 100px;
    min-width: 150px;
    margin: 1px;
    margin-left: 10px;
}
.index-text{
    font-size: 15px;
    text-align: left;
}
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }
.comparison-image{
    max-height: 300px;
    max-width: 600px;
}
#table_body{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 500px;
}
.left{
    width: 75%;
}
.right{
    width: 25%;
}

.container {
	padding: 15px;
}

.feet {
	background-color: #4aaaa5;
}

@media only screen and (max-width: 770px) {

	.main {
		background-color: var(--white);
	}
	.nav{
		background-color: #4aaaa5;
	}
    #header{
        font-size: 20px;
    }
}